.body {
  background-image: url("../images/883.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.favouriteThings {
  text-align: center;
}

#heading {
  color: white;
  text-align: center;
  text-decoration: underline;
}

#buttn {
  color: white;
  font-weight: bold;
  background-color: #009999;
  border-radius: 4px;
  border: 0px;
  width: 30%;
  height: 40px;
  margin-top: 15px;
}

.form {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

#food {
  width: 50%;
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}

#car {
  width: 50%;
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}

#book {
  width: 50%;
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}

#movie {
  width: 50%;
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}
